{% extends "base.html" %}

<ul class="list-group">
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
  <li class="list-group-item">Beer</li>
</ul>
